:root{

    --blue: #232f3e;
    --white: #faf0e6;
    --orange: #E47911;
}



.header {
    position: relative;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 178px;
    text-align: center;
    color: var(--white);
}

.logintext {
    color: black;
    position: relative;
    text-align: center;
    font-family: Arvo;
    font-size: 30px;
}

.text {
    color: black;

}

.lighttext {
    color: white;
}

.image {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.Button {
    background-color: var(--blue);
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 74px;
    text-align: center;
}
